
.ads-container {
    display: block;
    clear: both;
}

.ads-wrapper {
    background-image: url($ads-background); 
    background-repeat: no-repeat; 
    background-position: left top; 
    background-size: cover; 
    flex-direction: row; 
    display: flex; 
    align-items: center; 
    border: 4px solid #232323;
}

.text {
    font-family: Montserrat;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.57);
    font-weight: 900;
}

.ad-cta-button {
    height: 55px;
    background-color: #17aa1c;
    border-top-color: #000000;
    border-style: none;
    border-radius: 12px;
    margin-right: 40px;
    width: 217px;
    flex-shrink: 0;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.57);
}

.ad-cta-button p {
    font-size: 29px;
    margin: 0;
}

@media (max-width:780px) {
    .ad-cta-text {
        display: none;
    }
}

.ad-cta-text {
    margin-right: 81px;
    margin-left: 17px;
    font-size: 35px;
}

@media (max-width:1024px) {
    .ad-cta-text {
        font-size: 2.8vw;
    }
}

@media (max-width:399px) {
    .ad-image {
        max-width: 34%;
    }
}

.ad-image {
    width: 159px;
    flex-shrink: 0;
}

@media (max-width:399px) {
    .ad-cta-button {
        width: 140px;
    }

    .ad-cta-button p {
        font-size: 22px;
    }
}