/* Taken from top of both light and dark theme. Purpose unknown. */
.docked .d-header {
    background-color: #24a729;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.donkey {
    background-color: #24a729; 
    /* Here to help Ben track changes! */
}